[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/ac-library"]
	path = external/ac-library
	url = git@github.com:atcoder/ac-library.git
